<footer>
  <p>hey hey senorita</p>
  <p>
    <a href="/">home</a>
    <a href="/about">about</a>
    <p>{{getCurrentYear}}</p>
    <!-- //and there is no need for special syntax for that handlebars is first going
    to look for a helper and then for data -->
    <p>{{currentYear}}</p>
    <!-- this is from the data rendered  -->
    <p>{{screamIt pageTitle}}</p>
    <!-- this is from helper with arguments -->
  </p>
</footer>
